#front-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

#feature-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 120vh; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature1-bg {
    background-image: url('../../assets/images/front-img-1.png');
}

.feature2-bg {
    background-image: url('../../assets/images/front-img-2.png');
}

.feature3-bg {
    background-image: url('../../assets/images/front-img-3.png');
}

.feature4-bg {
    background-image: url('../../assets/images/front-img-4.png');
}

.feature-icon {
    margin: 50px 0;
    width: 100%;
    height: 200px;
}

hr {
    border: solid 1px rgb(0, 214, 0);
    width: 40%;
}

.white-verbage {
    font-family: AgencyFB;
    font-size: 2em;
    letter-spacing: 2px;
    color: white;
}

.pages-container {
    display: flex;
    margin: -150px 0 0 0;
}

.pages-container div {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    background-color: none;
    border: 1px solid rgb(0, 214, 0);
    margin: 0 10px;
    cursor: pointer;

    transition: background-color 0.5s, border 2s;
}

.current-page {
    background-color: rgb(0, 214, 0);
}

.pages-container div:hover {
    border: none;
    background-color: rgba(0, 214, 0, 0.2);
}