/* Feature Image */

#small-feature-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-feature-icon {
    margin: 30px 0;
    height: 120px;
}

.small-feature-verbage {
    font-family: AgencyFB;
    font-size: 3em;
    letter-spacing: 2px;
    width: 70%;
    color: white;
    display: flex;
    justify-content: center; 
    text-align: center;
}


.smallfeature3-bg {
    background-image: url('../../../assets/images/about-splatter1.svg');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    width: 100vw;
    height: 120vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.smallfeature4-bg {
    background-image: url('../../../assets/images/about-splatter2.svg');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    width: 100vw;
    height: 120vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}