footer {
    background-color: #161616;

    background-image: url('../../assets/images/footer-bg.svg');
    background-size: cover;

    color: #21da00;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.social-container img {
    margin: 0 5px;
}

.btn-container {
    height: 100px;
}

.contact-btn {
    font-family: AgencyFB;
    font-size: 1.2em;
    letter-spacing: 2px;

    background-color: rgb(0, 73, 0);
    padding: 12px;
    border-radius: 50px;
    border: none;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.7);
    width: 250px;
    color: #21da00;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: #222;
    color: #fff;
}